*{
    margin: 0;
    padding: 0;
}
.animation{
    position: relative;
    height: 600px;
    width: 100vw;
    background-color: lightblue;
    z-index: -2;
}


.top{
    
    height: 60px;
    top: 0;
    width: 100vw;
    background-color: rgb(0, 140, 0);
}

.bottom{
    position: absolute;

    bottom: 0;
    height: 60px;
    width: 100vw;
    background-color: rgb(0, 140, 0);
}

.card1{
    z-index: -1;
    position: absolute;
    margin-left: 40px;
    height: 200px;
    width: 200px;
    background-color: white;

    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px white, 0 0 20px black;

    animation: card1 15s infinite ;
}

.card2{
    z-index: -1;
    position: absolute;
    margin-left: 40px;
    
    height: 200px;
    width: 200px;
    background-color: white;

    margin-top: 300px;
    border-radius: 10px;
    box-shadow: 0 0 15px white, 0 0 20px black;

    animation: card1 15s infinite ;
}

.flex{
    display: flex;
   
    height: 100%;
    width: 100%;
}

.card3{
    z-index: -1;
    position: absolute;
    margin-left: 40px;
    height: 200px;
    width: 200px;
    background-color: white;

    margin-top: 580px;
    border-radius: 10px;
    box-shadow: 0 0 15px white, 0 0 20px black;

    animation: card1 15s infinite ;
} 


@keyframes card1{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(calc(-500px*3));

    }
}

@keyframes card2{
    from{
        transform: translateY(500px);
    }
    to{
        transform: translateY(calc(-500px*1.3));

    }
}

@keyframes card3{
    0%{
        transform: translateY(500px);
    }
    75%{
        transform: translateY(calc(-500px*1.3));

    }
} 


    

.after{
    height: 400px;
    width: 100vw;
    background-color: aliceblue;
}